<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92267120805-4rml4gseab1s15b7vrjkb4db1e2jl9as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92267120805-4rml4gseab1s15b7vrjkb4db1e2jl9as</string>
	<key>API_KEY</key>
	<string>AIzaSyCQoW3nb_rFWeRJMAhcMyiUs8rWCOfmqVc</string>
	<key>GCM_SENDER_ID</key>
	<string>92267120805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>projeto.ifg.entendoCodigo</string>
	<key>PROJECT_ID</key>
	<string>aprendendo-codigo</string>
	<key>STORAGE_BUCKET</key>
	<string>aprendendo-codigo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92267120805:ios:52248c31cc3317c065654c</string>
</dict>
</plist>